.navbar-custom {
    height: 80px;
    font-size: 18px;
    background-color: black;
    color: white;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: rgba(0,0,0,.9);
}

.navbar-brand {
    font-size: 40px;
    color: white;
}
.navbar-brand:hover{
    color: #ffc107;
}

.nav-link {
    color: grey;
    font-size: 20px;
}

.nav-link:hover {
    border-bottom: 1px solid #ffc107;
    color: #ffc107;
}

.nav-link.active{
    background-color: #ffc107;
    border-bottom: 1px solid #ffc107;
    
}